body {
  font-family: "Raleway", sans-serif;
}

button {
  border-radius: 30px !important;
  width: 8rem;
}

.navbar img {
  height: 4rem;
}

.navbar {
  font-size: 20px;
  font-weight: 700;
}

/* Hero Section */

#Hero-Section {
  height: 40rem;
  background-image: url("../img/bg-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
}

#Mis-trabajos .image-top {
  height: 28rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

/* Contacto */

#Contacto form label {
  font-weight: 700;
  color: #373a3c;
}

@media (max-width: 768px) {
  #Contacto form label {
    font-weight: 400;
  }
}

.orange {
  color: #ff6200 !important;
}

.nav-link:hover {
  color: #ff3c00 !important;
}

.badge-orange {
  background-color: #ff6200;
  color: white;
}

.badge-orange2 {
  background-color: #1f1f1f;
  color: white;
}

.card-body {
  text-align: center;
  font-size: 15px;
}